
<!--cdn js-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//az412349.vo.msecnd.net/pio/pio.latest.js"></script>

<!--our js-->
<script src="/public/js/main.js"></script>

</body>
</html>