<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--Allow the server to pass us a title if it wishes-->
    <!--Useful for when we want to put product data in a title for SEO purposes, for example-->
    <% if(typeof(title) !== 'undefined'){ %>
        <title><%=title%> | Print Site</title>
    <%} else {%>
        <title>Print Site</title>
    <%} %>

    <!--For social providers-->
    <meta property="og:site_name" content="Print Site" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <% if(typeof(Product)!=='undefined'){%>
        <!-- These properties are for social providers (facebook/pinterest/etc) -->
        <meta property="og:image" content="<%=
            //get a good image for display here
            Product.Images.filter(function(i){
                return i.ImageTypes.some(function(j){
                   return j==="AppFeatured";
                });
            })[0].Url
            %>" />
        <meta property="og:title" content="I'm looking at <%=Product.Name.toLowerCase()%> on hellopics.com!" />
        <meta name="description" content="<%=Product.ShortDescription%>" />
    <% } else { %>
        <!-- TODO -->
        <!--provide default description and image-->
        <meta name="description" content="">
        <meta property="og:image" content="" />
    <% } %>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- main -->
    <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css" />
    <link rel="stylesheet" href="/public/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="/public/css/main.css" type="text/css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
</head>
<body>

<!--facebook js api-->
<!--TODO: add in your facebook app id-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=[your app id]";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


<!--nav stuff-->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Print Site</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/">Products</a></li>
        <li><a href="/" id="cart" class="js-pio-cart">Cart</a></li>
    </ul>
</nav>